.emptyCart {
  padding: 3em 1em;
  font-size: 0.8rem;
  font-family: "Chivo", "Tinos", sans-serif;
  text-transform: uppercase;
  color: rgba(1, 50, 50, 0.5);
  text-align: center;
}

.cartWrapper {
  opacity: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgb(255 255 255);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	height: 100vh;
	width: 28%;
	z-index: 1;
	color: white;
	font-family: "Tinos", "Chivo", sans-serif;
  overflow-y: scroll;
}

.closeCart {
	padding: 1em;
	text-transform: uppercase;
	font-family: "Chivo", "Tinos", sans-serif;
	border-bottom: 2px solid rgba(1, 50, 50, 0.7);
  background-color: rgba(1, 50, 50, 0.1);
}

.closeCart p {
	margin-left: auto;
	width: fit-content;
	color: rgb(1, 50, 50);
	font-size: 0.8rem;
	cursor: pointer;
	position: relative;
}

.closeCart p::after {
	content: "";
	bottom: 0;
	left: 0;
	width: 0%;
	height: 1px;
	background: rgb(1, 50, 50);
	position: absolute;
	transition: width 0.2s ease-in-out;
}

.closeCart p:hover::after {
	width: 100%;
}

.item .productImg {
  height: 90px;
  width: 90px;
  background-size: 50px;
  margin-right: 1em;
  
}

.items {
  flex: 1;
}

.item {
	display: flex;
	align-items: center;
  border-bottom: 1px solid rgba(1, 50, 50, 0.2);
  padding: 1em;
  position: relative;
}

.item .removeItem {
  color: rgb(1, 50, 50);
  font-family: "Chivo", "Tinos", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: 0.5em 1em;
  transition: scale 0.2s ease-in-out;
  cursor: pointer;
}

.item .removeItem:hover {
  scale: 1.05;
}

.item .removeItem:active {
  scale: 0.9
}

.info {
	display: flex;
	flex-direction: column;
  width: 100%;
}

.item .info p:first-child {
	font-size: calc(1rem - 0.3vh);
	margin-bottom: 1em;
	color: rgb(1, 50, 50);
  overflow: hidden;
	width: 100%;
}

.item .amount {
	flex: 1;
	display: flex;
	color: rgb(1, 50, 50);
	font-size: calc(1rem - 0.3vh);
}

.input {
	color: rgb(1, 50, 50);
	background: none;
	border: 1px solid rgb(1, 50, 50);
	outline: none;
	margin-left: 0.5em;
	text-align: center;
  width: fit-content;
  max-width: 60px;
	height: 20px;
  padding-left: 1em;
}

.amount p:last-child {
	margin-left: auto;
	font-weight: bold;
}

.subTotal {
  font-family: "Chivo", "Tinos", sans-serif;
  display: flex;
  align-items: center;
  padding: 1em;
  color: rgb(1, 50, 50);
  background-color: rgba(1, 50, 50, 0.1);
}

.subTotal p:first-child {
  
  text-transform: uppercase;
  font-size: 0.9rem;
}

.subTotal p:last-child {
  margin-left: auto;
  font-weight: bold;
}

.cartBottom button {
  width: 100%;
  border: none;
  padding: 1em;
  background-color: rgb(1, 50, 50);
  color: white;
  text-transform: uppercase;
  font-family: "Chivo", "Tinos", sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cartBottom button:hover {
  background-color: rgba(1, 70, 70);
}