.card {
	min-height: 350px;
	width: 250px;
	max-width: 500px;
	font-family: "Tinos", "Chivo", sans-serif;
	background-color: rgba(0, 50, 50, 0.8);
	border-radius: 1em;
	/* border: 1px solid rgb(0, 50, 50); */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	transition: border 0.1s ease;
	margin: 1em;
}

.card:hover {

}

.image {
	border-radius: 1em 1em 0 0;
	background-image: url(https://www.placehold.co/150);
	width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.title h2 {
	margin-left: 1.1em;
	text-align: start;
	color: white;
	font-weight: 300;
	font-size: 0.9rem;
	margin-bottom: 0.5em;
	font-family: "Tinos", "Chino", sans-serif;
}

.price p {
  margin-left: 0.8em;
  margin-top: 0.5em;
	text-align: start;
	color: white;
	font-weight: bolder;
	font-size: 1.3rem;
}

.shopActions {
	margin-left: 1em;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5em;
	margin-bottom: 1em;
}

.controls {
	display: flex;
	background: none;
	border: 1px solid white;
	align-items: center;
	justify-content: center;
	transition: border-radius 0.35s ease-out, background-color 0.35s ease-out,
		color 0.35s ease-out, scale 0.35s ease-out;
}

.controls:hover {
	border-radius: 0.5em;
	background-color: white;
	scale: 1.05;
}

.controls:hover > input,
.controls:hover > button {
	color: rgba(0, 50, 50, 0.8);
}

.input {
	color: white;
	background: none;
	border: none;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
	outline: none;
}

.input:focus {
	outline: 1px solid rgba(0, 50, 50, 0.8);
	box-shadow: 0 0 10px rgba(0, 50, 50, 0.8);
}

.input:not(:hover) {
	outline: none;
	box-shadow: none;
}

.controls button {
	color: white;
	background: none;
	width: 25px;
	height: 25px;
	border: none;
	cursor: pointer;
}

.controls button:hover {
	text-shadow: 0 0 8px rgba(0, 50, 50, 0.8);
	outline: none;
	background: none;
}

.btn {
	background: none;
	border: 1px solid white;
	/* border-radius: 0.5em; */
	padding: 0.2em 0.7em;
	width: 120px;
	color: white;
	transition: border-radius 0.35s ease-out, background-color 0.35s ease-out,
		color 0.35s ease-out, scale 0.35s ease-out;
	cursor: pointer;
}

.btn:hover {
	border-radius: 0.5em;
	background-color: white;
	color: rgba(0, 50, 50, 0.8);
	scale: 1.05;
}
