.headerWrapper {
	margin-left: auto;
	margin-right: auto;
}

.navBar {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	padding-top: 1.5em;
	font-family: "Chivo", "Tinos", var(--default-fonts);
	
	color: rgb(1, 49, 49);
}

.navBarLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.navBarRight {
	display: flex;
	align-items: center;
	position: absolute;
	right: 3em;
}

ul,
li {
	display: flex;
	list-style-type: none;
	gap: 0.5em;
}

.headerLinks {
	text-decoration: none;
	color: rgb(1, 49, 49);
	position: relative;
	cursor: pointer;
}

.headerLinks::after {
	content: "";
	position: absolute;
	width: 0;
	opacity: 0;
	height: 1px;
	border: 1px solid rgb(1, 49, 49);
	bottom: 0;
	left: 0;
	transition: width 0.2s ease-in-out;
}

a:hover::after {
	opacity: 100%;
	width: 100%;
}

@media (max-width: 600px) {
	.navBarRight {
		right: 1em;
	}

	.navBarRight li {
		display: none;
	}
}
