.headerWrapper {
	margin-left: auto;
	margin-right: auto;
}

.navBar {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 300;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-family: "Chivo", "Tinos", var(--default-fonts);
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navBarLeft {	
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.navBarRight {
	display: flex;
	align-items: center;
	position: absolute;
	right: 3em;
}

ul,
li {
	display: flex;
	list-style-type: none;
	gap: 0.5em;
}

.headerLinks {	
	text-decoration: none;
	color: rgb(1, 49, 49);
	position: relative;
	cursor: pointer;
	z-index: 1;
}

.headerLinks::after {
	content: "";
	position: absolute;
	width: 0;
	opacity: 0;
	height: 1px;
	border: 1px solid rgb(1, 49, 49);
	bottom: 0;
	left: 0;
	transition: width 0.2s ease-in-out;
}

a:hover::after {
	opacity: 100%;
	width: 100%;
}

@media (max-width: 480px) {
	.navBar {
		font-size: 0.95rem;
	}
	.navBarRight {
		right: 1em;
	}
}
